
@media (min-width: 500px) {
    
body{
    width: 100vw;
    opacity: 1;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
}
#pagewrapper {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    height:auto;
    align-items: center;
    text-align: center;
}

#pagewrapper {
    display: inline-block;
    position: relative;
    flex: auto;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
}
header{
    position: fixed;
}
#wep-header{
    display: none;
    opacity: 0;
}
#main-header {
    position: relative;
    width: 100%;
    height: 94px;
    flex: auto;
    flex-wrap: wrap;
    top: 0px;
    background: rgba(231, 231, 231, 0.5);
}
#alarmHeader{
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    height: 94px;
    background-color: #34A853;
}
#alarmHeader .text{
    position: absolute;
    left: 60px;
    line-height: 94px;
    font-size: 1.7em;
    color: #fff;
}
#alarmHeader .alarm-img{
    position: absolute;
    right: 60px;
    line-height: 94px;
    top: 50%;
    transform: translateY(-50%);
}
#alarmHeader img{
    position: relative;
    top: 15px;
}

.alarm:first-of-type{
    margin-top: 60px;
}
.alarm:last-of-type{
    margin-bottom: 120px;
}
.alarm {
    display: inline-block;
    width: 85%;
    background-color: #D9D9D9;
    margin: 15px 0px;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.alarm div{
    display: inline-block;
    background-color: #fff;
    width: 93%;
    text-align: left;
    border-radius: 20px;
    padding: 5px 20px;
    line-height: auto;
}
.message.profile {
    height: 90px;
    line-height: 90px;
}
p {
    display: inline;
    white-space:pre-line;
    word-break: break-all;
}
.message.profile img{
    display: inline-block;
    position: relative;
    width: 50px;
    top:20px;
    margin-right: 20px;
}
.message.mozip{
    height: 40px;
    line-height: 40px;
}
.message.badge{
    height: 90px;
}
.message.badge img{
    width: auto;
    height: auto;
    position: absolute;
    display: inline;
    margin-right: 5px;
}
.message.badge p{
    position: relative;
    left: 100px;
}
.alarm h3{
    font-size: 1.5em;
    margin-bottom: 0px;
    display: block;
    float: left;
}
.message.badge p{
    display: inline;
    position: relative;
    top: 20px;
}
    #main-header {
        display: none;
        opacity: 0;
    }
    .left-header{
        display: none;
        opacity: 0;
    }
    .center-header{
        display: none;
        opacity: 0;
    }
    .right-header{
        display: none;
        opacity: 0;
    }
    /* .header-wrapper{
        display: inline-block;
        margin: 0 auto;
        width: 1600px;
        height: 94px;
    } */
    #wep-header{
        display: inline-block;
        position: relative;
        opacity: 1;
        width: 1600px;
        height: 120px;
        margin-bottom: 0px;
        background: #DCEDC3;
        border-bottom: 3px solid #DCEDC3;
    }
    .web-left-header{
        position: absolute;
        flex: auto;
        flex-wrap: wrap;
        left: 110px;
        top: 15px;
        padding: 10px;
    }
    .web-center-header{
        position: absolute;
        left: 20%;
        flex: auto;
        top: 15px;
        flex-wrap: wrap;
        padding: 10px;
    }
    .web-right-header{
        position: absolute;
        display: inline-flex;
        margin-right: 30px;
        align-items: center;
        width: 140px;
        height: 120px;
        line-height:120px;
        flex: auto;
        flex-wrap: wrap;
        right: 5%;
        justify-content: space-between;
    }
    .web-right-header a{
        display: inline-block;
        height: 50px;
        align-items: center;
        line-height:50px;
    }
    .web-right-header img{
        display: inline-block;
        height: 50px;
        align-items: center;
        line-height:50px;
    }
    .web-center-header>a{
        text-decoration: none;
    }
    .web-center-header header-menu{
        display: inline-block;
        margin: 0 auto;
        width: 700px;
        height: 120px;
        line-height: 120px;
        background: rgba(231, 231, 231, 0.21);
        border-radius: 15px;
        align-items: center;
        text-align: center;
    }
    .web-center-header-item {
            display: inline-block;
            color: rgb(86, 86, 86);
            width:170px;
            height: 35px;
            margin: 0px 15px;
            line-height: 30px;
            font-family: 'Inter';
            font-size: 1.8em;
            font-style: normal;
            font-weight: 600;
            align-items: center;
            text-align: center;
    }
    .web-center-header-item a{
        text-decoration: none;
        color: black;
    }
    .header-wrapper{
        margin: 0px;
        height: 122px;
    }
    #alarmHeader{
        position: relative;
        width: 100%;
        margin-top: 0px;
        padding: 0px;
        height: 120px;
        background-color: #34A853;
    }
    #alarmHeader .text{
        position: absolute;
        left: 120px;
        line-height: 120px;
        font-size: 1.7em;
        color: #fff;
    }
    #alarmHeader .alarm-img{
        position: absolute;
        right: 120px;
        line-height: 120px;
        top: 50%;
        transform: translateY(-50%);
    }
    #alarmHeader img{
        position: relative;
        top: 10px;
    }
    .alarm.mozip .attention{
        position: absolute;
        right: 10%;
        margin-top: 15px;
    }
    .alarm h3{
        display: block;
        font-size: 1.2em;
        margin-bottom:5px;
        float: left;
    }
    .alarm h3,h5{
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
        width: 90%;
    }
    .alarm h5{
        display: block;
        color: #999999;
        margin-top: 5px;
        margin-bottom:10px;
    }
.toggleSwitch {
    width: 60px;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
  }
  
   /* 토글 버튼 */
  .toggleSwitch .toggleButton {
    /* 버튼은 토글보다 작아야함  */
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #34A853;
  }
  .toggleSwitch.active {
    background: #ffffff;
  }
  
  .toggleSwitch.active .toggleButton {
    left: calc(100% - 29px);
    background: #34A853;
  }
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }
  #alarm-set div{
    display: block;
    padding-left: 75px;
    text-align: left;
}
#alarm-set div span, #alarm-set div label{
    display: inline-block;
}
.toggleIcon{
    position: absolute;
    right: 170px;
    margin-top: 10px;
}
.onOfftext{
    color: rgb(0, 0, 0,0.5);
}
.toggleIcon.active ~ .onOfftext .highlight{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.toggleIcon.active ~ .onOfftext{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.toggleSwitch {
width: 70px;
height: 35px;
display: block;
position: relative;
border-radius: 30px;
background-color: rgb(255, 255, 255, 0.7);
box-shadow: 0 0 5px 3px rgba(0 0 0 / 5%);
cursor: pointer;
border: 1px inset #34A853 0.5;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
/* 버튼은 토글보다 작아야함  */
width: 30px;
height: 30px;
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
border-radius: 50%;
background: #b6b6b6;
box-shadow: inset 0px -1px 2px 1px rgba(132, 186, 128, 0.3);
}
.toggleSwitch.active {
background: #ffffff;
}

.toggleSwitch.active .toggleButton {
left: calc(100% - 34px);
background: #34A853;
}
.toggleSwitch, .toggleButton {
transition: all 0.2s ease-in;
}
#alarm-set{
display: none;
position: absolute;
box-sizing: border-box;
top: 220px;
width: 0%;
height: 56%;
right: 0%;
margin-right: 0px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: #34A853;
transition: width 0.5s;
overflow-x: hidden;
line-height: 330%;
padding: 5%;
font-weight: 500;
font-size: 1.4em;
text-shadow: 1px 1px 3px rgb(255, 255, 255, 0.2);
opacity: 0;
}
#alarm-wrapper{
position: fixed;
display: none;
top: 0px;
left: 0px;
right: 0px;
width: 100%;
height: 110vh;
background-color: rgba(255, 255, 255, 0.6)
}
#alarm-set.active{
display: inline-block;
z-index: 1;
}
#alarm-wrapper.active{
display: inline-block;
}

}
@media (max-width:500px) {
    * {
        font-size: 0.9em;
    }
    body{
        width: 100vw;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #pagewrapper {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        height: 105vh;
        align-items: center;
        text-align: center;
    }
    header{
        position: fixed;
    }
    #wep-header{
        display: none;
        opacity: 0;
    }
    #main-header {
        position: relative;
        width: 100%;
        height: 70px;
        flex: auto;
        flex-wrap: wrap;
        top: 0px;
        background: rgba(231, 231, 231, 0.5);
    }
    #main-header img{
        width: 50%;
    }
    .left-header{
        position: absolute;
        flex: auto;
        flex-wrap: wrap;
        top: 15px;
        left: 4.39%;
    }
    .center-header{
        position: absolute;
        flex: auto;
        flex-wrap: wrap;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
    .right-header{
        position: absolute;
        flex: auto;
        flex-wrap: wrap;
        top: 25px;
        right: 4.79%;
    }
    #alarmHeader{
        position: relative;
        width: 100%;
        margin-top: 0px;
        padding: 0px;
        height: 70px;
        background-color: #34A853;
    }
    #alarmHeader .text{
        position: absolute;
        left: 40px;
        line-height: 70px;
        font-size: 1.7em;
        color: #fff;
    }
    #alarmHeader .alarm-img{
        position: absolute;
        right: 40px;
        line-height: 70px;
        top: 50%;
        transform: translateY(-50%);
    }
    #alarmHeader img{
        width: 70%;
        position: relative;
        top: 10px;
    }
    
    .alarm:first-of-type{
        margin-top: 25px;
    }
    .alarm {
        display: inline-block;
        width: 90%;
        background-color: #D9D9D9;
        margin: 6px 0px;
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 20px;
    }
    
    .alarm div{
        display: inline-block;
        box-sizing: border-box;
        background-color: #fff;
        width: 97%;
        text-align: left;
        border-radius: 20px;
        padding: 5px 5px;
        line-height: auto;
    }
    .message.profile {
        line-height: auto;
    }
    p {
        display: inline;
        white-space:pre-line;
        word-break: break-all;
    }
    .message.profile img{
        display: inline-block;
        position: relative;
        width: 25px;
        top: 1px;
        margin-right: 20px;
    }
    .message.profile p{
        position: relative;
        left: 0%;
        top: -7px;
        width: 80%;
    }
    .message.badge{
        height: 70px;
    }
    .message.badge img{
        margin-top: 10px;
        width: 40px;
        height: auto;
        position: absolute;
        display: inline-block;
        margin-right: 5px;
    }
    .message.badge p{
        position: relative;
        display: inline-block;
        left: 20%;
        top: 0px;
        width: 80%;
    }
    .alarm.mozip .attention{
        position: absolute;
        width: 30px;
        right: 7%;
        margin-top: 25px;
    }
    .alarm h3{
        display: block;
        font-size: 1.2em;
        margin-bottom: 0px;
        float: left;
    }
    .alarm h3,h5{
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .alarm h5{
        display: block;
        color: #999999;
        margin-top: 0px;
    }
    #alarm-set div{
        display: block;
        padding-left: 15px;
        text-align: left;
    }
    #alarm-set div span, #alarm-set div label{
        display: inline-block;
    }
    .toggleIcon{
        position: absolute;
        right: 20px;
        margin-top: 3px;
    }
    .onOfftext{
        color: rgb(0, 0, 0,0.5);
        opacity: 0%;
    }
    .toggleIcon.active ~ .onOfftext .highlight{
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
    .toggleIcon.active ~ .onOfftext{
        color: rgb(0, 0, 0);
        font-weight: 600;
    }
.toggleSwitch {
    opacity: 0%;
    width: 30px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: 0 0 5px 3px rgba(0 0 0 / 5%);
    cursor: pointer;
    border: 1px inset #34A853 0.5;
  }
  
   /* 토글 버튼 */
  .toggleSwitch .toggleButton {
    /* 버튼은 토글보다 작아야함  */
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #b6b6b6;
    box-shadow: inset 0px -1px 2px 1px rgba(132, 186, 128, 0.3);
  }
  .toggleSwitch.active {
    background: #ffffff;
  }

  .toggleSwitch.active .toggleButton {
    left: calc(100% - 14px);
    background: #34A853;
  }
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }
  #alarm-set{
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 170px;
    width: 0%;
    height: 55%;
    right: 0px;
    margin-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #34A853;
    transition: width 0.5s;
    overflow-x: hidden;
    line-height: 400%;
    padding: 3%;
    padding-top: 30px;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgb(255, 255, 255, 0.2);
    transform: width 3s;
    opacity: 0;
}
#alarm-set span{
    font-size: 11px;
}
 #alarm-wrapper{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100vh;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6)
 }
 #alarm-set.active{
    display: inline-block;
    z-index: 1;
}
#alarm-wrapper.active{
    display: inline-block;
}

}

body {
    margin: 0px;
    background: url(../imgs/bg-wego.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  a {
    text-decoration: none;
  }
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: #000;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  .blind {
    display: none;
  }
  /* header */
  header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e7;
    position: relative;
    background-color: #DEEDCB;
  }
  header div.logoDiv,div.user {
    width: 200px;
  }
  
  .logo {
    display: block;
    width: 180px;
    height: 50px;
    background: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .navbar li {
    display: inline-block;
    padding: 0 30px;
    font-weight: bold;
    font-size: 16px;
  }
  .navbar li:hover {
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #fff;
  }
  .user {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .menubar {
    display: none;
    width: 120px;
    height: 180px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    padding: 10px 10px 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #fff;
    z-index: 2;
  }
  .menubar li {
    margin: 20px 10px;
  }
  .menubar li:nth-last-of-type(1) > a {
    display: inline-block;
    margin-top: 20px;
    color: red;
  }
  .user-profile-img {
    /* display: none; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .login-btn {
    display: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url(../imgs/login.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .hidden {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 665px) {
    header div.logoDiv,div.user {
      width: 50px;
  
      margin: 0 10px;
    }
  
    .logo {
      width: 35px;
      height: 35px;
      background: url(../imgs/main-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    .login-btn {
      width: 25px;
      height: 25px;
      border: 0;
      background: url(../imgs/login.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    .navbar li {
      padding: 0 5px;
  
      font-size: 14px;
    }
    .navbar li:hover {
      border-radius: 10px;
      padding: 5px 5px;
      background-color: #fff;
    }
  }

  footer {
    width: 100vw;
    background-color: #43a047;
  }
  .footer {
    min-width: 320px;
    max-width: 1024px;
    text-align: center;
    padding: 30px;
    position: relative;
    margin: auto;
  }
  .footer li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
    white-space: nowrap;
  }
  .footer li:before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 2px;
  }
  .footer li:first-child:before {
    width: 0;
  }
  .footer address {
    padding-top: 15px;
  }
  .support {
    display: flex;
  }
  .link-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 30px;
    left: 140px;
  }
  .footer a:hover {
    transition: all 400ms ease;
    color: #ffffff;
  }
  /* Add: font awesome => svg  */
  .link-bar a:nth-of-type(1),
  .link-bar a:nth-of-type(2) {
    display: block;
    width: 30px;
    height: 30px;
  }
  .link-bar a:nth-of-type(1) {
    background: url(../imgs/figma.svg);
    background-repeat: no-repeat;
  }
  .link-bar a:nth-of-type(2) {
    background: url(../imgs/github.svg);
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 749px) {
    .footer {
      text-align: center;
      padding: 30px 10px;
      position: relative;
    }
    .support {
      display: flex;
      justify-content: center;
      margin: 20px auto auto;
    }
    .link-bar {
      position: static;
    }
  }