/* 내용물  */
.cotents {
  overflow-x: auto;
  height: max-content;
  padding: 20px;
  background-color: rgb(220 237 195 / 36%);
  position: relative;
  border-radius: 15px;
}
#title {
  margin: 10px auto;
}
#text {
  white-space: nowrap;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* container child - common */
.mountain-info,
.recruit,
.review {
  width: 100%;
  margin: 30px 0;
}
.wrap {
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  user-select: none;
  scroll-behavior: smooth;
}
.wrap::-webkit-scrollbar {
  display: none;
}
.item {
  display: inline-block;
  width: 200px;
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  background-color: #fff;
}
.item > img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.item > form {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 0;
}
.favorite {
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../svg/favorite.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* mountain-info - 개별 스타일 X */
/* recruit */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.item > hr {
  border-top: 1px solid lightgray;
  border-bottom: 0;
  border-radius: 35px;
  margin-bottom: 10px;
}
.recruit #title + img {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.recruit-data {
  text-align: left;
}
.recruit-data > p {
  margin: 0;
}
.recruit-data > #mountainName {
  text-align: center;
}
/* review */
.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-info ~ img {
  width: 100%;
  border-radius: 15px;
}
.bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-info > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .cotents {
    width: -webkit-fill-available;
    /* 웹브라우저크기에 맞게 단 파이어폭스에서 적용이 안됨*/
    width: -moz-available;
    /* 이게 파이어폭스넓이에 맞춰서임. */
    font-size: small;
    max-width: 750px;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  .cotents {
    width: auto;
    margin: 0;
    font-size: 12px;
  }
}
