
/* display 꽉 채우고,  justify-content 양사이드로 */
.navbar {
    display: flex; 
    justify-content: space-between; /*중심축배치 현재는수평축*/
    align-items: center; /*반대축*수직축*/
    padding: 8px 12px;  /*위아래 양옆*/
}
body{
    background-image: url("../imgs/정상수비대.jpg");
    margin: 0;
    font-family: 'Jua';
}

a{
    text-decoration: none;
    color: black;
}
.navbar_logo {
    font-size: 24px;
    color: black;
}

.navbar_menu {
    display: flex;
    list-style: none;
    /* ul태그의 점을 제거하자 */
    padding-left: 0;
    /* 패딩으로 우측 치우친것을 되돌림. */
}

.navbar_menu li {
    padding: 8px 12px;
    /* 마우스 클릭영역확보 */
}

.navbar_menu li:hover {
    background-color: grey;
    border-radius: 10px;
    /* 테두리 둥글게 */
}

.navbar_links {
    list-style: none;
    padding-left: 0;
    color: teal;
    display: flex;
}

.navbar_links li {
    padding: 8px 12px;
}

.navbar_toggleBtn {
    color: black;
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

/* 레이아웃을 반응형으로 만들때 미디어쿼리사용
특정사이즈 이하가 될경우 웹사이트의 메뉴가 보이지않으니 아래로 내려가도록구현 */
@media screen and (max-width: 768px) {
    /*  로고, 메뉴바가 수죽으로 나오도록한다. */
    
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /*중심축배치 현재는수평축*/
        align-items: flex-start;
        padding: 32px 12px;
    }
    /* 메뉴바가 한줄에 하나씩나타나게하자 */
    .navbar_menu {
        display: none; 
        /* 현 사이즈에선 메뉴가 안나타남 커지면나타남 */
        flex-direction: column;
        align-items: center;
        /* 메뉴바만 가운데 정렬로 */
        width: 100%;
        /* 메뉴바의 가운데정렬을 위한너비늘림 */
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_links {
        /* 커지면 */
        display: none;
        /* 반대축이니까 이거 사용. */
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn {
        display: block;
    }

    /* active 요소 추가하기 */
    .navbar_menu.active,
    .navbar_links.active {
        display: flex;
    }
}