.mypage-container {
  margin: 70px auto;
  padding: 50px;
  width: 880px;
  /* border: 1px solid gray; */
  border-radius: 10px;
  /* background-color: #ffffffe3;
  border-color: white; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.profile {
  display: flex;
  justify-content: space-around;
  gap: 45px;
  margin: 5px;
}

/* 마이페이지 구간  */
.profile-image-button {
  position: absolute;
  left: 28%;
  top: 65px;
  bottom: 80%;
}
.profile-image-button img:hover {
  cursor: pointer;
}
.profile-image {
  margin-top: 23px;
  width: 200px;
  height: 200px;
  /* width: 100%;
  height: 100%; */
  background: url(../img/profile.png);
  background-repeat: no-repeat;
  background-size: 200px;
}
.profile-image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(220, 237, 195);
}

.div-name-setting {
  position: relative;
  width: 130px;
  height: 30px;
}
.div-name-setting > span {
  position: absolute;
  margin-left: 10px;
  width: 100px;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  /* color: #000000; */
}
.div-name-setting > .nickname {
  margin: 5px 20px 5px 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(41, 41, 41);
  overflow-wrap: break-word;
  word-break: break-all;
}

.name-setting img {
  position: absolute;
  left: 75%;
}
.name-badge-setting {
  display: grid;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  /* position: absolute; */
  width: 600px;
  height: 250px;
  right: 20px;
  top: 100px;
  border-radius: 10px;
}
.badge-collection {
  box-sizing: border-box;
  padding: 15px;
  background-color: #b0dd85;
  border-radius: 10px;
}
.badge-header {
  font-size: larger;
  font-weight: bolder;
}
.badge-header img {
  /* position: absolute; */
  top: 20px;
  margin-left: 10px;
}
.badge-medal {
  margin: 10px auto;
  text-align: center;
}
.badge-medal img {
  display: inline-block;
  margin: 10px;
}
.content-header-menu > a {
  text-decoration: none;
}
#content-section {
  position: relative;
  /* margin: 0 auto; */
  text-align: center;
}
.content-header-menu {
  display: inline-block;
  width: 800px;
  /* height: 54px; */
  line-height: 54px;
  background: rgba(231, 231, 231, 0.21);
  border-radius: 15px;
}
.content-header-menu-item {
  /* display: inline-grid; */
  display: inline-block;
  justify-content: center;
  width: 125px;
  margin: 0px 15px;
  border-radius: 15px;
  padding: 1px 20px;
}
.content-header-menu li:hover {
  font-weight: bold;
  color: #fff;
  background-color: #7ccf144a;
  border-radius: 20px;
  padding: 1px 20px;
  transition: 0.7s;
}
.content-header-menu li:active {
  font-weight: bold;
  font-style: #fff;
  background: rgba(159, 243, 96, 0.679);
  border-radius: 20px;
  padding: 1px 20px;
}

.content-header-menu #item-point {
  font-weight: bold;
  color: #fff;
  background-color: #7ccf144a;
  border-radius: 20px;
  padding: 1px 20px;
}

/* 사진추가 */
.add-profile-image {
  display: none;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  position: relative;
}
.folder-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../svg/folder.svg);
  background-repeat: no-repeat;
}
.folder-icon + span {
  font-size: 20px;
  font-weight: bold;
}
.add-profile-image .cancel {
  display: block;
  width: 25px;
  height: 25px;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../svg/cancle.svg);
  background-repeat: no-repeat;
}
.drag-and-drop {
  width: 100%;
  height: 200px;
  border: 1px dashed gray;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 1;
  cursor: pointer;
}
.picture {
  width: 50px;
  height: 40px;
  background: url(../svg/picture.svg);
  background-repeat: no-repeat;
}
.drag-and-drop + button,
.alert-window button {
  display: block;
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4ec53d;
  margin: auto;
}
/* 재확인버튼 style */
.check-again .upload,
.check-again .unload {
  display: none;
  width: 300px;
  /* border: 1px solid gray; */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 30px;
  text-align: center;
  background-image: none;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.check-again .upload {
  height: 150px;
}
.check-again .upload > input,
.check-again .unload > input {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  margin: 30px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.check-again .unload input[type="reset"] {
  background-color: rgb(255, 37, 37);
}
/* Add - alert-window */
.alert-window {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
/* 내정보구간 */
.cotents {
  height: max-content;
  padding: 20px;
  background-color: #f0fff2;
  border-radius: 15px;
}

p {
  font-size: large;
  font-weight: 10px;
  margin-right: 20px;
}
p > span {
  margin-right: 50px;
}
p > .my-city {
  border: 2px;
  border-left: #4ec53d solid;
  box-sizing: content-box;
  width: fit-content;
}
.my-city > label {
  margin-left: 3px;
}

select[name="cityCounty"] {
  width: 80px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid lightgray;
  margin-left: 0;
  font-size: 16px;
  position: relative;
  z-index: 1;
  background-color: #ffffff00;
}

select[name="cityCounty2"] {
  width: 100px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid lightgray;
  margin-left: 18px;
  font-size: 16px;
  position: relative;
  z-index: 1;
  background-color: #ffffff00;
}

/* 나의위치 커밋 */
#my-city-commit {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  padding: 8px 19px;
  background-color: #4ec53d;
  color: #fff;
  border: 1px solid #cccccc5d;
  cursor: pointer;
  font-size: 14.5px !important;
  width: 100px;
  text-align: center;
}

/* 내용사진 */
.my-taste {
  display: block;
  position: inherit;
}
.my-taste-pick {
  display: inline-grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  font-weight: bolder;
  align-content: center;
}
.my-taste-pick img {
  display: inline-block;
  width: 200px;
  border-radius: 35px;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  /* background-color: #4ec53d; */
}
/* 내취향 */
.my-taste-pick {
  cursor: pointer;
}

/* 라디오박스 */
/* 라디오 버튼 숨기기 (원형 디스크) 푸시 버튼 효과를 생성하기 위해 레이블을 사용합니다.*/
input[type="radio"] {
  display: none;
  margin: 10px;
  padding: 5px 15px;
}
/* 레이블 (radiobuttons에 인접한)의 look'n'feel을 변경하시면 됩니다. 
레이블에 여백을 추가하고 패딩을 추가해 주면 됩니다.*/
input[type="radio"] + label {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  padding: 8px 19px;
  background-color: #a1a4a1;
  border: 1px solid #cccccc5d;
  cursor: pointer;
  vertical-align: middle;
  font-size: 14.5px !important;
  width: 100px;
  text-align: center;
}
.radio-items {
  display: block;
}
.radio-items {
  display: inline-flex;
  border-radius: 10px;
  box-sizing: border-box;
}
.radio-items > .radio-items-on {
  display: table-cell;
  height: fit-content;
  text-align: center;
}

/* 선택한 라디오 단추 옆의 레이블에 대한 배경색 변경하면 됩니다. 강조 표시된 버튼으로 보이게합니다.?*/
input[type="radio"]:checked + label {
  background-color: #4ec53d;
  color: #fff;
}

/* 회원탈퇴 */
#end {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  padding: 8px 19px;
  background-color: #8d8d8d;
  border: 1px solid #cccccc5d;
  cursor: pointer;
  font-size: 14.5px !important;
  width: 100px;
  text-align: center;
}

@media screen and (min-width: 750px) and (max-width: 1050px) {
  .mypage-container {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
  }
  .profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 0px; */
    /* margin: 50px 0; */
    margin: 5px 0px 15px 0px;
    position: relative;
    flex-direction: column;
  }
  .profile-image-button {
    position: absolute;
    left: 68%;
    top: 28px;
    bottom: 80%;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    background-size: 200px;
  }
  .wrap span {
    display: inline-block;
    margin: 5px 20px 5px 20px;
    width: 100px;
  }
  .div-name-setting {
    position: relative;
    width: 130px;
    height: 55px;
  }
  .content-header-menu {
    display: inline-block;
    width: 400px;
    line-height: 54px;
    background: rgba(231, 231, 231, 0.21);
    border-radius: 15px;
  }
  .name-setting img {
    position: absolute;
    left: 100%;
  }
  .name-badge-setting {
    display: grid;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    /* position: absolute; */
    width: 600px;
    height: 250px;
    right: 20px;
    top: 100px;
    border-radius: 10px;
  }
  .cotents {
    min-height: max-content;
    font-size: small;
  }
  p {
    font-size: medium;
    font-weight: 10px;
    margin-right: 20px;
  }
  .my-taste-pick img {
    display: inline-block;
    width: 130px;
    border-radius: 35px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    /* background-color: #4ec53d; */
  }
}
@media screen and (max-width: 749px) {
  .mypage-container {
    padding: 20px;
    width: 350px;
    box-sizing: border-box;
  }
  .profile {
    justify-content: space-around;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    background-size: 200px;
  }
  .profile-image-button {
    position: absolute;
    left: 72%;
    top: 48px;
  }
  .add-profile-image {
    width: 140px;
  }
  .folder-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../svg/folder.svg);
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .folder-icon + span {
    font-size: 16px;
    font-weight: bold;
  }
  .picture {
    width: 40px;
    height: 30px;
    background: url(../svg/picture.svg);
    background-repeat: no-repeat;
    background-size: 40px;
  }
  .drag-and-drop {
    height: 150px;
    flex-direction: column;
    gap: 0;
  }
  .drag-and-drop > p {
    margin-bottom: 0;
  }
  .drag-and-drop + button {
    display: block;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4ec53d;
    margin: auto;
  }
  .wrap span {
    display: inline-block;
    margin: 0 30px 0 10px;
  }
  .bunttons {
    align-items: center;
  }

  /* 작아졌을떄~ */
  .name-badge-setting {
    display: grid;
    align-items: center;
    justify-content: space-around;
    width: auto;
    gap: 10px;
    height: fit-content;
    border-radius: 10px;
    justify-items: center;
    align-content: stretch;
  }
  .content-header-menu {
    display: inline-block;
    width: auto;
    line-height: 35px;
    background: rgba(231, 231, 231, 0.21);
    border-radius: 15px;
  }
  .cotents {
    margin: 0;
    font-size: 13px;
    min-height: max-content;
  }
  .radio-items {
    display: inline-flex;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
  }
}
