section{
  display: grid;
  max-width: 1024px;
  min-width: 764px;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  '1'
  '2'
  ;
}
#total-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 375px;
  max-width: 1024px;
}
#alarmHeader{
  display: grid;
  grid-template-areas: 
  'leftheader rightheader'
  ;
  margin-bottom: 24px;
}
#alarmHeader .text{
  max-width: 510px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items:center;
}
#alarmHeader .alarm-img{
  max-width: 510px;
  color: white;
  display: flex;
  justify-content: right;
  text-align: right;
}
.alarmbox{
  grid-template-areas: '2';
  display: grid;
  grid-template-rows: repeat(4);
}
.alarm{
  padding: 5px 20px 20px 20px;
  grid-column: 4/1;
  background-color: #D9D9D9;
  display: grid;
  grid-template-areas: 
  'h3'
  'h5'
  'message'
  ;
  margin-bottom: 24px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%), 0 4px 4px rgb(0 0 0 / 22%);
  border-radius: 20px;
}
.alarm h3{
  /* grid-area: 'h5'; */
  font-size: 15px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
}
.alarm h5{
  /* grid-area: 'h5'; */
  font-size: 12px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 15px;
}
.alarm div{
  /* grid-area: 'message'; */
  align-items:center;
  display: flex;
  background-color: #fff;
  padding: 0px 0px;
  border-radius: 20px;
  font-size: 15px;
}
.alarm div img{
  display: flex;
  grid-area: 'img';
  padding: 15px;
  width: 40px;
  height: 40px;
}
.alarm.mozip h5{
  margin: 0px;
}
.alarm.mozip p, .alarm.comment p {
  margin-left: 15px;
  margin-right: 15px;
} 
.alarm.profile p, .alarm.badge p {
  margin-right: 15px;
}
.mozipimg img{
  width: 32px;
  height: 32px;
}
.alarm .mozipimg{
  /* grid-area: 'h3'; */
  font-size: 15px;
  margin-bottom: 0px;
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#alarm-set {
  display: none;
  opacity: 0;
  position: absolute;
  font-size: 15px;
  width: 450px;
  right: 0px;
  top: 65px;
  line-height: 380%;
  height: auto;
  padding-bottom: 32px;
  padding-top: 15px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #34A853;
}
  #alarm-set div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
.onOfftext{
    color: rgb(0, 0, 0,0.5);
}
.toggleIcon.active ~ .onOfftext .highlight{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.toggleIcon.active ~ .onOfftext{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.toggleSwitch {
width: 70px;
height: 36px;
display: block;
position: relative;
border-radius: 30px;
background-color: rgb(255, 255, 255, 0.7);
box-shadow: 0 0 5px 3px rgba(0 0 0 / 5%);
cursor: pointer;
border: 1px inset #34A853 0.5;
}
.toggleSwitch .toggleButton {
width: 30px;
height: 30px;
position: absolute;
top: 50%;
left: 3px;
transform: translateY(-50%);
border-radius: 50%;
background: #b6b6b6;
box-shadow: inset 0px -1px 2px 1px rgba(132, 186, 128, 0.3);
}
.toggleSwitch.active {
background: #ffffff;
}
.toggleSwitch.active .toggleButton {
left: calc(100% - 33px);
background: #34A853;
}
.toggleSwitch, .toggleButton {
transition: all 0.2s ease-in;
}
#alarm-set.active{
display: inline-block;
z-index: 100;
}
#alarm-wrapper.active{
  display: block;
}
#alarmHeader{
  position: relative;
}

@media screen and (max-width:768px) {
  section{
    max-width: 768px;
    min-width: 426px;
  }
  .alarmbox{
    padding: 0% 5%;
  }
  #alarmHeader{
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 0% 5%;
  }
  #alarmHeader span:first-child{
    max-width: 384px;
  }
  #alarmHeader span:last-child{
    max-width: 384px;
  }
  .alarm .mozipimg{
    max-width: 768px;
  }
  .alarm div{
    font-size: 12px;
  }
  #alarm-set {
    font-size: 15px;
    width: 350px;
  }
  .toggleSwitch {
  width: 60px;
  height: 30px;
  border-radius: 25px;
  }
  .toggleSwitch .toggleButton {
  width: 26px;
  height: 26px;
  left: 3px;
  }
  .toggleSwitch.active .toggleButton {
  left: calc(100% - 29px);
  }
}
@media screen and (max-width:425px) {
  section{
    max-width: 425px;
    min-width: 300px;
  }
  .alarmbox{
    padding: 0% 5%;
  }
  #alarmHeader{
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 0% 5%;
  }
  #alarmHeader span:first-child{
    max-width: 212px;
  }
  #alarmHeader span:last-child{
    max-width: 212px;
  }
  .alarm .mozipimg{
    max-width: 768px;
  }
  #alarm-set {
    font-size: 12px;
    width: 250px;
  }
  .toggleSwitch {
    width: 42px;
    height: 22px;
    border-radius: 20px;
  }
  .toggleSwitch .toggleButton {
    width: 19px;
    height: 19px;
    left: 2px;
  }
  .toggleSwitch.active .toggleButton {
    left: calc(100% - 21px);
  }
  #alarm-set div{
    padding: 0px 15px;
  }
}